<h1>Sightings Details page</h1>


<h3>{{thisSighting.location}}</h3>
<p>{{thisSighting.date}}</p>
<p>{{thisSighting.description}}</p>

{{#if isOwner}}
<form action="/sightings/delete/{{thisSighting._id}}" method="post">
    <button class="button">Delete</button>
</form>

    <button class="button"> <a href="/sightings/update/{{thisSighting._id}}">Update</a> </button>

{{/if}}

<form action="/sightings/:sightingId" class="comment-form">
<label for="content">Leave a comment</label>
<textarea name="content" id="content" cols="10" rows="10"></textarea>
<button type="submit" class="submit-comment">Send comment</button>
</form>

{{#each comments}}

<h5 class="author-of-comment">{{author.username}}</h5>
<p class="comment">{{content}}</p>

{{/each}}
